body, html {
  height: 100%;
  margin: 0;
  font-family: monospace;
  line-height: 1.45;
  color: #111;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
}

section {
  padding: 20px;
}

@media (max-width: 768px) {
  main {
      grid-template-columns: 1fr;
  }
}

header {
  color: #111;
  padding: 40px;
}

header span {
  color: #ccc;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

footer {
  text-align: left;
  padding: 40px;
  color: #ccc;
}
