:root {
  --font-base: 14px;
  --font-scale-ratio: 1.125;


  --font-size-xs: calc(var(--font-base) / var(--font-scale-ratio));
  --font-size-sm: var(--font-base);
  --font-size-md: calc(var(--font-base) * var(--font-scale-ratio));
  --font-size-lg: calc(var(--font-size-md) * var(--font-scale-ratio));
  --font-size-xl: calc(var(--font-size-lg) * var(--font-scale-ratio));
  --primary-color: #795dff;
}

html, body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  font-size: var(--font-size-sm);
  letter-spacing: .3px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: lowercase;
}

h1, h2, h3 {
  font-size: var(--font-size-md);
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

h1 {
  font-weight: 600;
  font-size: var(--font-size-lg);
}

main {
  display: flex;
  gap: 2rem;
}

.title a {
  color: #fff !important;
}

.info, .content {
  padding: 2.5rem;
  min-height: 100vh;
}

p {
  font-weight: 400;
  color: #e0e0e0;
  font-size: var(--font-size-sm);
}

hr {
  border: none;
  margin: 1rem 0;
  height: 1px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 3px;
  color: #e0e0e0;
  font-size: var(--font-size-sm);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: #9b8eff;
}

.text-sm {
  font-size: var(--font-size-sm);
}

.text-xs {
  font-size: var(--font-size-xs);
}

.gray-medium {
  color: #b0b0b0;
  font-size: var(--font-size-sm);
}

.entry {
  min-height: 200px;
  border-radius: 12px;
  margin-bottom: 4rem;
}

.entry a {
  display: block;
  border-radius: 12px;
  border: 1px solid #3d3d3f;
  padding: 6px;
  transition: all .15s ease-in-out;
}

.entry a:hover {
  border-color: var(--primary-color);;
}

.entry-image {
  height: 200px;
  border-radius: 6px;
  transition: all .15s ease-in-out;
}

.entry-metadata {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.entry-title {
  color: #ffffff;
  font-size: var(--font-size-lg);
  line-height: 1.2;
  margin-bottom: 6px;
}

.content {
  max-width: 1200px;
  flex: 1;
}

.entries {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.85rem;
}

.label {
  background: #333333;
  border-radius: 4px;
  padding: 1px 5px 2px;
  font-weight: 600;
  font-size: var(--font-size-xs);
  color: #ffffff;
  text-transform: uppercase;
}

.video {
  margin: 1rem 0;
}

.entry-show {
  max-width: 700px;
}

@media (max-width: 733px) {
  main {
    display: block;
  }

  .info {
    min-height: auto;
  }
}

@media (max-width: 1200px) {
  .entries {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 933px) {
  .entries {
    grid-template-columns: 1fr;
  }
}
